@model TopJobs.Models.JobExperienceEntry

@{
    ViewData["Title"] = "Create";
    ViewBag.Title = "Create";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<h1>Experience</h1>

<h4>Add new entry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display:none">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" value="@ViewBag.User.Id" />
            </div>
            @*<div class="form-group">
            <label asp-for="CompanyId" class="control-label">Company</label>
            <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
            <span asp-validation-for="CompanyId" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label class="control-label">Position</label>
                <input type="text" name="positionTypeName" class="form-control">
            </div>
            <div class="form-group">
                <label class="control-label">Position Level</label>
                <select name="positionTypeLevel" class="form-control">
                    <option>-</option>
                    <option>Intern</option>
                    <option selected="selected">Junior</option>
                    <option>Mid</option>
                    <option>Senior</option>
                </select>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="CompanyId" class="control-label">Company</label>
                <input type="text" asp-for="CompanyId" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Company</label>
                <input type="text" id="CompanyName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DateStarted" class="control-label">Start</label>
                <input type="date" asp-for="DateStarted" class="form-control" />
                <span asp-validation-for="DateStarted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateFinished" class="control-label">End</label>
                <input type="date" asp-for="DateFinished" class="form-control" />
                <span asp-validation-for="DateFinished" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="PositionTypeId" class="control-label">Position</label>
            <select asp-for="PositionTypeId" class="form-control" asp-items="ViewBag.PositionTypeId"></select>
        </div>*@
            <div class="form-group form-check" style="display:none">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Verified" /> @Html.DisplayNameFor(model => model.Verified)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary"  style="margin:20px 0 10px 0" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#CompanyName").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/api/companyapi/search',
                        headers: {
                            "RequestVerificationToken":
                                $('input[name="__RequestVerificationToken"]').val()
                        },
                        data: { "term": request.term },
                        dataType: "json",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { value: item.name, label: item.name, companyId: item.id };
                            }))
                        },
                        error: function (xhr, textStatus, error) {
                            alert(xhr.statusText);
                        },
                        failure: function (response) {
                            alert("failure " + response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    $("#CompanyId").val(i.item.companyId);
                },
                minLength: 3
            });
        });
    </script>
}
