@model TopJobs.Models.ApplicationUser

@{
    ViewData["Title"] = "AdminMain";
}
<div class="text-center">
    <h1 class="display-4">Admin</h1>
    <button class="btn-lg" style="margin:60px" onclick="window.location.href = '../UserRoles'">Manage User Roles</button>
</div>
<div class="text-center">
    <button class="btn-lg" style="margin:10px" onclick="window.location.href = '../Companies/Search'">Search Companies</button>
</div>