@model TopJobs.Models.ApplicationUser

@{
    ViewData["Title"] = "EmployerMain";
}
<div class="text-center">
    <h1 class="display-4">Welcome to <b>Top Jobs</b>!</h1>
    <button class="btn-lg" style="margin:60px" onclick="window.location.href = '../JobAds/Create'">Create Job Ad</button>
    <button class="btn-lg" style="margin:60px" onclick="window.location.href = '../JobAds/Index'">My Job ads</button>
</div>