@model IEnumerable<TopJobs.Models.JobAd>

@{
    ViewData["Title"] = "Charts";
}

<div class="text-center">
    <h1>Charts</h1>
</div>

<div style="margin-top:80px; display:inline">
    <img src="@ViewBag.ChartString"/>
    <h3 style="display:inline; margin-left:50px">Top 5 most popular technologies</h3>
</div>
