@model IEnumerable<TopJobs.Models.JobAd>

@{
    ViewData["Title"] = "Charts";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" />

<div class="text-center">
    <h1>Charts</h1>
    <hr />
</div>


<h3 style="margin-top:80px; text-align:center">Check out the leading technologies among the current job ads</h3>
@Html.React("Components.PieChartFull", new
{
num = 7
})
<h3 style="text-align:center; margin-top:40px">Compare the trends for any specific technologies</h3>
<div style="display:flex">
    <div style="flex:1">
        @Html.React("Components.TrendChart", new
        {
        data = "[{ \"name\": \"JavaScript\", \"value\": 192 }," +
        "{ \"name\": \"Java\", \"value\": 155 }," +
        "{ \"name\": \"C#\", \"value\": 103 }," +
        "{ \"name\": \"Python\", \"value\": 100 }]"
        })
    </div>
</div>

<script src="/dist/runtime.js"></script>
<script src="/dist/vendor.js"></script>
<script src="/dist/main.js"></script>
@Html.ReactInitJavaScript()

