@model IEnumerable<TopJobs.Models.JobAd>

    @{
    ViewData["Title"] = "Job Ad";
    }

    <h1>Job Ads</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Position
                </th>
                <th>
                    Date Submitted
                </th>
                <th>
                    Candidates
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderBy(m => m.DateSubmitted))
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @item.DateSubmitted.ToShortDateString()
                </td>
                <td>
                    @item.JobApplications.Count()
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
