@model TopJobs.Models.Preference

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" />


<h1>Preferences</h1>

<h4>What are you looking for?</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <div class="card" style="background-color: #efefef; padding: 20px; ">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="row">
                    <div class="form-group col">
                        <label class="control-label">Position</label>
                        <input type="text" name="positionTypeName" id="positionTypeName" class="form-control" value="@Model.PositionType.Name">
                    </div>
                    <div class="form-group col">
                        <label class="control-label">Position Level</label>
                        <select name="positionTypeLevel" class="form-control">
                            <option>-</option>
                            <option>Intern</option>
                            <option selected="selected">Junior</option>
                            <option>Mid</option>
                            <option>Senior</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-top:30px">
                    <div class="form-group col">
                        <label asp-for="WorkingHours" class="control-label">Working Hours</label>
                        <input asp-for="WorkingHours" class="form-control" />
                        <span asp-validation-for="WorkingHours" class="text-danger"></span>
                    </div>
                    <div class="form-group col">
                        <label asp-for="FlexibleSchedule" class="control-label">Flexible Schedule</label>
                        <select asp-for="FlexibleSchedule" class="form-control">
                            <option></option>
                            <option value="True">Yes</option>
                            <option value="False">No</option>
                        </select>
                        <span asp-validation-for="FlexibleSchedule" class="text-danger"></span>
                    </div>
                    <div class="form-group col">
                        <label asp-for="WorkFromHome" class="control-label">Work From Home</label>
                        <select asp-for="WorkFromHome" class="form-control">
                            <option></option>
                            <option value="True">Yes</option>
                            <option value="False">No</option>
                        </select>
                        <span asp-validation-for="WorkFromHome" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group" style="margin-top:30px">
                    <label class="control-label">Preferred technologies</label>
                    <select data-placeholder="Begin typing a name to filter..." multiple class="chosen-select form-control" name="test">
                        <option value=""></option>
                        @foreach (PreferredTechnologiesViewModel technology in ViewBag.Technologies)
                        {
                            if (technology.Selected)
                            {
                                <option selected>@technology.Technology.Name</option>
                            }
                            else
                            {
                                <option>@technology.Technology.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <input id="TechnologiesSelected" name="TechnologiesSelected" value="'none'" style="display: none;" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" style="margin:40px 0 10px 0" onclick="passSelectedTechnologies()"/>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        function passSelectedTechnologies() {
            let selectedTechnologiesString = "";
            $('.chosen-choices').children().each(function () {
                selectedTechnologiesString += this.innerText + ';';
            });
            $('#TechnologiesSelected')[0].value = selectedTechnologiesString;
        }
    </script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            passSelectedTechnologies();
            $(".chosen-select").chosen({
                no_results_text: "Oops, nothing found!"
            });
            $("#positionTypeName").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/api/companyapi/searchpositions',
                        headers: {
                            "RequestVerificationToken":
                                $('input[name="__RequestVerificationToken"]').val()
                        },
                        data: { "term": request.term },
                        dataType: "json",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { value: item, label: item };
                            }))
                        },
                        error: function (xhr, textStatus, error) {
                            alert(xhr.statusText);
                        },
                        failure: function (response) {
                            alert("failure " + response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    $("#PositionTypeName").val(i.item);
                },
                minLength: 1
            });
        });
    </script>
    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
}
